@font-face {
    font-family: 'Gotham Rounded Bold';
    src:  url('./fonts/gotham-rounded-bold.otf');
  }
  
  @font-face {
    font-family: 'Gotham Rounded Book';
    src:  url('./fonts/gotham-rounded-book.otf');
  }

  body {
      font-family: 'Gotham Rounded Book';
      background-color:#2ecc71; 
  }

  h1 {
      font-family: 'Gotham Rounded Bold';
      color: #d35400;
  }

  #root {
    display: flex;
    width:600px;
    margin: 0 auto;
    border: 1px solid #ecf0f1;
    border-radius: 4px;
    padding: 10px;
    background-color:  white;
  } 

  .flex {
      display: flex;
  }

  #thisCanvas {
    border: 1px solid #bdc3c7;
    border-radius: 4px;
  }

  .swatch, .tile {
    border-radius: 2px;
    margin: 2px;
    border: 1px solid #bdc3c7;
  }

  .swatch:hover, .tile:hover {
    border: 1px solid #f39c12;
  }

  .choices div{
      margin: 10px;
  }